@charset "UTF-8";
@media screen and (max-width: 2048px) {
    html {
        font-size: 273.06667px; } }

@media screen and (max-width: 1920px) {
    html {
        font-size: 256px; } }

@media screen and (max-width: 1440px) {
    html {
        font-size: 192px; } }

@media screen and (max-width: 1600px) {
    html {
        font-size: 213.33333px; } }

@media screen and (max-width: 1242px) {
    html {
        font-size: 165.6px; } }

@media screen and (max-width: 1140px) {
    html {
        font-size: 152px; } }

@media screen and (max-width: 1280px) {
    html {
        font-size: 170.66667px; } }

@media screen and (max-width: 1024px) {
    html {
        font-size: 136.53333px; } }

@media screen and (max-width: 1080px) {
    html {
        font-size: 144px; } }

@media screen and (max-width: 960px) {
    html {
        font-size: 128px; } }

@media screen and (max-width: 800px) {
    html {
        font-size: 106.66667px; } }

@media screen and (max-width: 768px) {
    html {
        font-size: 102.4px; } }

@media screen and (max-width: 736px) {
    html {
        font-size: 98.13333px; } }

@media screen and (max-width: 732px) {
    html {
        font-size: 97.6px; } }

@media screen and (max-width: 720px) {
    html {
        font-size: 96px; } }

@media screen and (max-width: 667px) {
    html {
        font-size: 88.93333px; } }

@media screen and (max-width: 644px) {
    html {
        font-size: 85.8666667px; } }

@media screen and (max-width: 640px) {
    html {
        font-size: 85.33333px; } }

@media screen and (max-width: 600px) {
    html {
        font-size: 80px; } }

@media screen and (max-width: 568px) {
    html {
        font-size: 75.73333px; } }

@media screen and (max-width: 540px) {
    html {
        font-size: 72px; } }

@media screen and (max-width: 533px) {
    html {
        font-size: 71.06667px; } }

@media screen and (max-width: 480px) {
    html {
        font-size: 64px; } }

@media screen and (max-width: 435px) {
    html {
        font-size: 58px; } }

@media screen and (max-width: 414px) {
    html {
        font-size: 55.2px; } }

@media screen and (max-width: 412px) {
    html {
        font-size: 54.93333px; } }

@media screen and (max-width: 400px) {
    html {
        font-size: 53.33333px; } }

@media screen and (max-width: 385px) {
    html {
        font-size: 51.33333px; } }

@media screen and (max-width: 384px) {
    html {
        font-size: 51.2px; } }

@media screen and (max-width: 375px) {
    html {
        font-size: 50px; } }

@media screen and (max-width: 360px) {
    html {
        font-size: 48px; } }

@media screen and (max-width: 342px) {
    html {
        font-size: 45.6px; } }

@media screen and (max-width: 320px) {
    html {
        font-size: 42.66667px; } }

@media screen and (max-width: 300px) {
    html {
        font-size: 40px; } }

@media screen and (max-width: 240px) {
    html {
        font-size: 32px; } }

input{
    -webkit-user-modify: read-write-plaintext-only;
    border: none;
    outline:medium;
}
input[type=button], input[type=submit], input[type=file], button { cursor: pointer; -webkit-appearance: none; }

body,ul,ol,dl,dd,h1,h2,h3,h4,h5,h6,p,input,select,textarea,form{margin: 0; padding: 0;}
body{font:14px/1.4rem "微软雅黑";}
img{border:none;}
ul,ol{list-style:none;}
input,select,textarea{outline:none;border:none;background:none;}
textarea{resize:none;}
a{text-decoration:none;}
*{
    line-height: 1.5;
}

#content{
    width: 100%;
    position: relative;
    color: #333;
    font-family:"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu
}

#content img{
    width: 100%;
    vertical-align: middle;
}
#content span{
    width: 100%;
    height: 1rem;
    display: block;
    position: absolute;
    text-align: right;
    right: 1.6rem;bottom: 0.4rem;
    font-size: .28rem;
    margin: auto;
    font-family:"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu
}
#content p{
    width: 3rem;
    height: .6rem;
    display: block;
    position: absolute;
    right: 1.4rem;bottom: 0.5rem;
    line-height: .8rem;
    margin: auto;
    text-align: right;
    font-size: .2rem;
    text-align: right;
    font-family:"MicrosoftJhengHei",华文细黑,STHeiti,MingLiu
}
#btnSave{
    width: 100%;
    height: .7rem;
    outline: none;
    font-size: .36rem;
    color: #ffffff;
    text-align: center;
}

.herder{
    width: 100%;
    height: 5.5rem;
    background: url(../back.jpg)no-repeat;
    background-size: cover;
}
.inputtext{
    width: 100%;
    height: 1.1rem;
    border-bottom: 1px solid #ebeef2;
    line-height: 1.1rem;
    padding: 0 .2rem;
    box-sizing: border-box;
    color: #4e4e4e;
    font-size: .34rem;
}
input{
    width: 80%;
    height: 100%;
    padding-left: 0.2rem;
    color: #4e4e4e;
    font-size: .34rem;
}
#btnSave{
    display: block;
    width: 5.5rem;
    height: .9rem;
    background: #f55656;
    border: none;
    margin: 0.3rem auto;
    font-size: 0.38rem;
    color: #ffffff;
    border-radius: 0.1rem ;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #939393; opacity:1;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #939393;
    opacity:1;
}

input:-ms-input-placeholder{
    color:#939393;opacity:1;
}

input::-webkit-input-placeholder{
    color: #939393;opacity:1;
}

img#ying{
    width: 0.7rem;
    height: .92rem;
    position: absolute;
    right:1.45rem;bottom: .4rem;
}

.list{
    width: 100%;
    height: 1.6rem;
    font-size: 0.32rem;
    color: #4e4e4e;
    line-height: 1.1rem;
    padding-left:0.2rem;
    box-sizing: border-box;
    border-bottom: 1px solid #ebeef2;
}
.list ul{
    width: 88%;
    height: 100%;
    float: right;

}
.list ul li{
    width: 58%;
    height: 50%;
    float: left;
    background: url(../2.png)no-repeat;
    background-size: 0.25rem 0.25rem;
    background-position: left center ;
    font-size: 0.28rem;
    color: #4e4e4e;
    line-height: .8rem;
    padding-left: 0.4rem;
    box-sizing: border-box;
}
.list ul li:first-child,.list ul li:first-child+li+li{
    width: 42%;
}
.list ul li.active{
    background: url(../3.png)no-repeat;
    background-size: 0.25rem 0.25rem;
    background-position: left center ;
}
.tishi{
    display: none;
    position: fixed;
    z-index: 888;
    width: 80%;
    height: 3rem;
    top:0;left: 0;right: 0;bottom: 0;
    margin: auto;
    font-size: .28rem;
    color: #fff;
    text-align: center;

}
.tishi span{
    background: rgba(0,0,0,0.7);
    padding: 0.3rem;
    line-height: .5rem;
    border-radius: 0.1rem;
    display: inline-block;
}
.imgimg{
    position: fixed;
    top:0;left: 0;
    bottom: 0;right: 0;
    margin: auto;
    z-index: 8888888;
}
#imag{
    width: 100%;
}
.loding{
    width: 2.5rem;
    height: 2.5rem;
    position: fixed;
    top:4rem;left: 0;
    right: 0;
    margin: auto;
    background: rgba(0,0,0,0.7) url("../loding.gif")no-repeat;
    background-size: .9rem .9rem;
    background-position: center 30%;
    z-index: 8888;
    border-radius: 0.2rem;
    color: #fff;
    font-size: .3rem;
    text-align: center;
    padding-top: 1.6rem;
    box-sizing: border-box;
}